<html>

<head>
    <title>
        Add Delivery Boy
    </title>
</head>

<body>
    <table>
        <form action="/adm_add_delivery_boy_post" method="post" enctype="multipart/form-data">
        <tr>
            Name: <input name="name" type="text"><br>
        </tr>
        <tr>
            Image : <input name="img" type="file"><br>
        </tr>

        <tr>
            Place : <input name="place" type="text"><br>
        </tr>
        <tr>
            Post : <input name="post" type="text"><br>
        </tr>
        <tr>
            Pin : <input name="pin" type="text"><br>
        </tr>

        <tr>
            Contact : <input name="contact" type="text"><br>
        </tr>
        <tr>
            Email : <input name="email" type="email"><br>
        </tr>
        <tr>
            Age : <input name="age" type="text"><br>
        </tr>
        <tr>
            <input type="submit" value="Add">
        </tr>
            </form>
    </table>

</body>

</html>