   {% extends "admin/index.html" %}
{% block body %}

        <form action="/adm_add_delivery_boy_post" method="post" enctype="multipart/form-data">
           <table class="table table-bordered">
        <tr>
          <td>
              Name: <input name="name" type="text" class="form-control" required>
          </td>
        </tr>
        <tr>
            <td>
                Image : <input name="img" type="file" class="form-control" required>
            </td>

        </tr>

        <tr>
           <td>
                 Place : <input name="place" type="text" class="form-control" required>
           </td>

        </tr>
        <tr>
            <td>
              Post : <input name="post" type="text" class="form-control" required>
            </td>

        </tr>
        <tr>
            <td>
                 Pin : <input name="pin" pattern="[0-9]{6}" type="text" class="form-control" required>
            </td>

        </tr>

        <tr>
            <td>
              Contact : <input name="contact"  pattern="[0-9]{10}"  type="text" class="form-control" required>
            </td>

        </tr>
        <tr>
            <td>
                  Email : <input name="email" type="email" class="form-control" required>
            </td>

        </tr>
        <tr>
            <td>
                  Age : <input name="age" type="text" class="form-control" required>
            </td>

        </tr>
        <tr>
            <td>
                  <input type="submit" value="Add" class="btn btn-primary">
            </td>

        </tr>
                   </table>
            </form>

{% endblock %}