<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
<table border="1">


    <tr><td><a href="/adm_change_password">Change Password</a></td></tr>
     <tr><td><a href="/adm_view_delivery_boy">View Delivery Boy</a></td></tr>
    <tr><td><a href="/adm_add_delivery_boy">Add Delivery Boy</a></td></tr>

    <tr><td><a href="/adm_view_new_shop">View New Shop</a></td></tr>
     <tr><td><a href="/adm_view_accepted_shop">View Accepted Shops</a></td></tr>

    <tr><td><a href="/adm_view_rejected_shop">View Rejected Shop</a></td></tr>
     <tr><td><a href="/adm_view_order">View Orders</a></td></tr>


    <tr><td><a href="/adm_view_and_search_customer">View And Search Customers</a></td></tr>
</table>
</body>
</html>