
   {% extends "admin/index.html" %}
{% block body %}
   <table class="table table-bordered">

    <tr>
        <th>Sl No</th>
        <th>Name</th>
        <th>Address</th>
        <th>Email</th>
        <th>Contact</th>
        <th>More</th>
    </tr>
 {% for i in val %}
    <tr>
     <td>{{ loop.index }}</td>
     <td>{{ i['name'] }}</td>
     <td>{{ i['address'] }}</td>
     <td>{{ i['email'] }}</td>
     <td>{{ i['contact'] }}</td>
     <td>
      
      <a href="/adm_new_shop_details/{{ i['loginid'] }}" class="btn btn-primary" style="padding: 0.5rem 1rem;margin-bottom: 0">
         <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-text" viewBox="0 0 16 16">
            <path d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z"/>
            <path d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5L9.5 0zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/>
          </svg>
         Details</a></td>
            </tr>
             {% endfor %}
</table>
   {% endblock %}