
   {% extends "admin/index.html" %}
{% block body %}
       <form action="/adm_search_customer" method="post">
  <table class="pull-right">
<tr>
    <td colspan="3">
    <input name="search" type="text" class="form-control" placeholder="Search Here"></td>
    <td> <button type="submit" class="btn btn-success" style="padding: 0.5rem 1rem;margin-bottom: 0">
   <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
</svg> search
    </button>
    </td>
</tr>
   </table>
    </form><br>
<table class="table table-bordered">
    <tr>
        <th>Sl No</th>
        <th>Name</th>


        <th>Address</th>
        <th>Email</th>
        <th>Contact</th>
    </tr>
   {% for i in val %}
 <tr>
     <td>{{ loop.index }}</td>
     <td>{{ i['name'] }}</td>

     <td>{{ i['place'] }} <br> {{ i['post'] }} <br>{{ i['pin'] }}</td>
     <td>{{ i['email'] }}</td>
     <td>{{ i['contact'] }}</td>

            </tr>
           {% endfor %}
</table>
       {% endblock %}