   {% extends "admin/index.html" %}
{% block body %}
   <table class="table table-bordered">
   
       <tr>
           <th>Sl No</th>
           <th>Review</th>
           <th>Rating</th>
           <th>Username</th>
           <th>Shop</th>
           <th>Date</th>
           
       </tr>
      {% for i in val %}
       <tr>
        <td>{{ loop.index }}</td>
        <td>{{ i['review'] }}</td>
           <td>{{ i['rating'] }}</td>
        <td>{{ i['cname'] }}</td>
           <td>{{ i['shopname'] }}</td>
        <td>{{ i['date'] }}</td>
              </tr>
          {% endfor %}
   </table>
   {% endblock %}