   {% extends "admin/index.html" %}
{% block body %}
   <table class="table table-bordered">
   
       <tr>
           <th>Sl No</th>
           <th>Product</th>
           <th>Quantity</th>
           <th>Price</th>
          <th>Shop</th>
          
       </tr>
   
       {% for i in val %}
       <tr>
      <td>{{ loop.index }}</td>
        <td>{{ i['name'] }}</td>
        <td>{{ i['quantity'] }}</td>
        <td>{{ i['price'] }}</td>
       <td>{{ i['shop_name'] }}</td>

              </tr>
            {% endfor %}
            
   </table>
           {% endblock %}