  {% extends "shop/index.html" %}
{% block body %}
   <table class="table table-bordered">
<form action="/shop_change_pass_post" method="post">
    <tr>
        <td>
            Current Password : <input name="cur_pass" type="text" class="form-control" required>
        </td>

    </tr>

    <tr>
        <td>
              New Password : <input name="new_pass" type="password" class="form-control" required>
        </td>

            </tr>
            <tr>
                <td>
                      Confirm Password : <input name="confirm_pass" type="password" class="form-control" required>
                </td>

                     </tr>
            <tr>
                <td>
                     <input type="submit" value="Change Password" class="btn btn-primary">
                </td>

                    </tr></form>
</table>

  {% endblock %}