<html>
 <head>
 <title>
           Change Password
        </title>
    </head>
    <body>
<table>
<form action="/shop_change_pass_post" method="post">
    <tr>
Current Password : <input name="cur_pass" type="text"><br>
    </tr>

    <tr>
       New Password : <input name="new_pass" type="password"><br>
            </tr>
            <tr>
                Confirm Password : <input name="confirm_pass" type="password"><br>
                     </tr>
            <tr>
                <input type="submit" value="Change Password">
                    </tr></form>
</table>
    </body>
</html>