   {% extends "shop/index.html" %}
{% block body %}
   <table class="table table-bordered">
        <form action="/shop_edit_product_post" method="post" enctype="multipart/form-data">
        <input type="hidden" name="id" value="{{ val['prdid'] }}">
        <tr>
            <td>
                  Name: <input name="name" type="text" value="{{ val['name'] }}" class="form-control" required>
            </td>

        </tr>
        <tr>
<td>
    Image : <img src="{{ val['image'] }}" width="100"><br>
            <input name="img" type="file" class="form-control">
</td>

        </tr>
 <tr>
         <td>
             Category : <select name="category" class="form-control" required>
     {% for i in val2  %}
     <option value="{{ i['cat_id'] }}" {% if i['cat_id'] == val['categoryid'] %} selected {% endif %}>{{ i['category'] }}</option>
      {% endfor %}
 </select>
         </td>
        </tr>
        <tr>
            <td>
            Description : <textarea name="description" value="" class="form-control" required>{{ val['description'] }}</textarea>

            </td>
           </tr>
        <tr>
            <td>
                Made Date : <input name="made_date" type="date" value="{{ val['madedate'] }}" class="form-control" required>

            </td>
         </tr>
        <tr>
            <td>
                 Exp Date : <input name="exp_date" type="date" value="{{ val['expdate'] }}" class="form-control" required>

            </td>
         </tr>

        <tr>
            <td>
                     Price : <input name="price" type="text" value="{{ val['price'] }}" class="form-control" required>
            </td>

        </tr>


        <tr>
            <td>
                <input type="submit" value="Update" class="btn btn-primary">
            </td>

        </tr>
            </form>
    </table>
{% endblock %}