<html>

<head>
    <title>
        Edit Product
    </title>
</head>

<body>
    <table>
        <form action="/shop_edit_product_post" method="post" enctype="multipart/form-data">
        <input type="hidden" name="id" value="{{ val['prdid'] }}">
        <tr>
            Name: <input name="name" type="text" value="{{ val['name'] }}"><br>
        </tr>
        <tr>

            Image : <img src="{{ val['image'] }}" width="100"><br>
            <input name="img" type="file"><br>
        </tr>
 <tr>
            Category : <select name="category">
     {% for i in val2  %}
     <option value="{{ i['cat_id'] }}" {% if i['cat_id'] == val['categoryid'] %} selected {% endif %}>{{ i['category'] }}</option>
      {% endfor %}
 </select><br>
        </tr>
        <tr>
          Description : <textarea name="description" value="">{{ val['description'] }}</textarea><br>
        </tr>
        <tr>
           Made Date : <input name="made_date" type="date" value="{{ val['madedate'] }}"><br>
        </tr>
        <tr>
           Exp Date : <input name="exp_date" type="date" value="{{ val['expdate'] }}"><br>
        </tr>

        <tr>
            Price : <input name="price" type="text" value="{{ val['price'] }}"><br>
        </tr>


        <tr>
            <input type="submit" value="Update">
        </tr>
            </form>
    </table>

</body>

</html>