<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
</head>
<body>
<table border="1">
    <tr><td><a href="/shop_view_profile">View Profile</a></td></tr>
    <tr><td><a href="/shop_change_password">Change Password</a></td></tr>
<tr><td><a href="/shop_add_category">Add Category</a></td></tr>
     <tr><td><a href="/shop_add_product">Add Product</a></td></tr>
<tr><td><a href="/shop_view_products">View Products</a></td></tr>

<tr><td><a href="shop_virew_delivery_boy">View Delivery Boy</a></td></tr>
<tr><td><a href="shop_view_order">View Orders</a></td></tr>
<tr><td><a href="/shop_view_reviews">Review</a></td></tr>
<tr><td><a href="/shop_add_offer">Add Offer</a></td></tr>
    <tr><td><a href="/shop_view_offer">View Offer</a></td></tr>
    <tr><td><a href="/shop_add_notification">Add Notification</a></td></tr>
<tr><td><a href="shop_view_notification">Notification</a></td></tr>
<tr><td><a href="/chat">Chat</a></td></tr>

</table>
</body>
</html>