<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Shop</title>
</head>
<body>
<table>
        <form action="/shop_register_post" method="post">
        <tr>
            Name: <input name="name" type="text"><br>
        </tr>

        <tr>
           Address: : <input name="address" type="text"><br>
        </tr>

        <tr>
            Contact : <input name="contact" type="text"><br>
        </tr>
        <tr>
            Email : <input name="email" type="email"><br>
        </tr>

        <tr>
            <input type="submit" value="Register">
        </tr>
            </form>
    </table>
</body>
</html>