  {% extends "shop/index.html" %}
{% block body %}
   <table class="table table-bordered">
        <form action="/shop_register_post" method="post">
            {% for i in data %}
        <tr>
        <td>
               Name: <input name="name" type="text" value="{{ i['name'] }}" class="form-control">
        </td>

        </tr>

        <tr>
        <td>
            Address: : <input name="address" type="text" value="{{ i['address'] }}" class="form-control">
        </td>

        </tr>

        <tr>
        <td>
              Contact : <input name="contact" type="text" value="{{ i['contact'] }}" class="form-control">
        </td>

        </tr>
        <tr>
        <td>
              Email : <input name="email" type="email" value="{{ i['email'] }}" class="form-control">
        </td>

        </tr>
{% endfor %}

            </form>
    </table>
{% endblock %}